EDLTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "keyVaultName": {
      "type": "string",
      "defaultValue": "NameOfKeyVault",
      "metadata": { "description": "Name of the new Key Vault." }
    },
    "vaultSkuName": {
      "type": "string",
      "defaultValue": "standard",
      "allowedValues": [ "standard", "premium" ],
      "metadata": { "description": "The SKU of the Key Vault." }
    },
    "workflows_EDL_IP_Blocklist_name": {
      "type": "string",
      "defaultValue": "EDL-IP-Blocklist-LogicApp",
      "metadata": { "description": "Name of the Logic App workflow." }
    },
    "sentinelConnectionName": {
      "type": "string",
      "defaultValue": "Sentinel-Connection",
      "metadata": { "description": "Name for the Azure Sentinel API connection." }
    },
    "EDLListName": {
      "type": "string",
      "defaultValue": "11111",
      "metadata": { "description": "EDL Manager List Number (e.g. 11111)." }
    },
    "apiSecretName": {
      "type": "string",
      "defaultValue": "EDL-Manager-API",
      "metadata": { "description": "The name of the Key Vault secret for the EDL Manager API key." }
    },
    "apiKeyValue": {
      "type": "secureString",
      "metadata": { "description": "The EDL Manager API key value (will be stored in Key Vault) Make Sure you start the API Key with Api-Key EX, Api-Key 11111." }
    }
  },
  "variables": {
    "sentinelSubscriptionIdFixed": "6f0a4fd1-7ff9-481d-835c-35d0356da189",
    "keyVaultResourceId": "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]",
    "keyVaultSecretResourceId": "[resourceId('Microsoft.KeyVault/vaults/secrets', parameters('keyVaultName'), parameters('apiSecretName'))]",
    "sentinelConnResourceId": "[resourceId(variables('sentinelSubscriptionIdFixed'), resourceGroup().name, 'Microsoft.Web/connections', parameters('sentinelConnectionName'))]",
    "edlManagerBaseUri": "https://edlmanager.com/api/v1",
    "manualSourceUri": "[concat(variables('edlManagerBaseUri'), '/sources/manual/', parameters('EDLListName'), '/')]"
  },
  "resources": [
    {
      "type": "Microsoft.KeyVault/vaults",
      "apiVersion": "2019-09-01",
      "name": "[parameters('keyVaultName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "tenantId": "[subscription().tenantId]",
        "sku": { "family": "A", "name": "[toUpper(parameters('vaultSkuName'))]" },
        "accessPolicies": [],
        "enabledForTemplateDeployment": true
      }
    },
    {
      "type": "Microsoft.KeyVault/vaults/secrets",
      "apiVersion": "2019-09-01",
      "name": "[concat(parameters('keyVaultName'), '/', parameters('apiSecretName'))]",
      "properties": { "value": "[parameters('apiKeyValue')]" },
      "dependsOn": [ "[variables('keyVaultResourceId')]" ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[parameters('sentinelConnectionName')]",
        "api": {
          "id": "[concat('/subscriptions/', variables('sentinelSubscriptionIdFixed'), '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_EDL_IP_Blocklist_name')]",
      "location": "[resourceGroup().location]",
      "identity": { "type": "SystemAssigned" },
      "dependsOn": [
        "[variables('keyVaultSecretResourceId')]",
        "[variables('sentinelConnResourceId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "defaultValue": {}, "type": "Object" }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": { "callback_url": "@{listCallbackUrl()}" },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_Secret": {
              "runAfter": {},
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "[concat('https://', parameters('keyVaultName'), '.vault.azure.net/secrets/', parameters('apiSecretName'), '?api-version=7.0')]",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://vault.azure.net"
                }
              }
            },
            "Entities_-_Get_IPs": {
              "runAfter": { "Get_Secret": [ "Succeeded" ] },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/ip",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              }
            },
            "HTTP_1": {
              "runAfter": { "Entities_-_Get_IPs": [ "Succeeded" ] },
              "type": "Http",
              "inputs": {
                "uri": "[variables('manualSourceUri')]",
                "method": "GET",
                "headers": { "Authorization": "@body('Get_Secret')?['value']" }
              },
              "runtimeConfiguration": { "contentTransfer": { "transferMode": "Chunked" } }
            },
            "Parse_JSON": {
              "runAfter": { "HTTP_1": [ "Succeeded" ] },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_1')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "name": { "type": "string" },
                    "manual_entries": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            },
            "For_each": {
              "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
              "actions": {},
              "runAfter": { "Parse_JSON": [ "Succeeded" ] },
              "type": "Foreach"
            },
            "For_each_1": {
              "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
              "actions": {
                "Condition_1": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "contains": [
                            "@body('Parse_JSON')?['manual_entries']",
                            "@items('For_each_1')?['Address']"
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "HTTP_3": {
                      "type": "Http",
                      "inputs": {
                        "uri": "[variables('manualSourceUri')]",
                        "method": "PUT",
                        "headers": { "Authorization": "@body('Get_Secret')?['value']" },
                        "body": "@json(concat('{\"action\":\"add\",\"manual_entries\":[\"', item()?['Address'], '\"]}'))"
                      },
                      "runtimeConfiguration": { "contentTransfer": { "transferMode": "Chunked" } }
                    }
                  }
                }
              },
              "runAfter": { "For_each": [ "Succeeded" ] },
              "type": "Foreach"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "id": "[concat('/subscriptions/', variables('sentinelSubscriptionIdFixed'), '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionId": "[variables('sentinelConnResourceId')]",
                "connectionName": "[parameters('sentinelConnectionName')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.KeyVault/vaults/accessPolicies",
      "name": "[concat(parameters('keyVaultName'), '/add')]",
      "apiVersion": "2019-09-01",
      "dependsOn": [
        "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]",
        "[resourceId('Microsoft.Logic/workflows', parameters('workflows_EDL_IP_Blocklist_name'))]"
      ],
      "properties": {
        "accessPolicies": [
          {
            "tenantId": "[subscription().tenantId]",
            "objectId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('workflows_EDL_IP_Blocklist_name')), '2017-07-01', 'Full').identity.principalId]",
            "permissions": {
              "secrets": [ "get", "list" ]
            }
          }
        ]
      }
    }
  ],
  "outputs": {
    "keyVaultUri": {
      "type": "string",
      "value": "[reference(variables('keyVaultResourceId'), '2019-09-01').vaultUri]"
    }
  }
}
