EDLTemplate
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_EDL_IP_Blocklist_name": {
            "defaultValue": "EDL-IP-Blocklist",
            "type": "String"
        },
        "connections_azuresentinel_AS_IP_Blocklist_externalid": {
            "defaultValue": "/subscriptions/41256192-8779-41f6-89fb-81f73a1a490e/resourceGroups/MS-Sentinel-Resources-CentralUS/providers/Microsoft.Web/connections/azuresentinel-AS-IP-Blocklist",
            "type": "String"
        },
        "connections_keyvault_AS_IP_Blocklist_externalid": {
            "defaultValue": "/subscriptions/41256192-8779-41f6-89fb-81f73a1a490e/resourceGroups/MS-Sentinel-Resources-CentralUS/providers/Microsoft.Web/connections/keyvault-AS-IP-Blocklist",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_EDL_IP_Blocklist_name')]",
            "location": "centralus",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Get_Secret": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('EDL-Manager-API')}/value"
                            }
                        },
                        "Entities_-_Get_IPs": {
                            "runAfter": {
                                "Get_Secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/ip"
                            }
                        },
                        "HTTP_1": {
                            "runAfter": {
                                "Entities_-_Get_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://edlmanager.com/api/v1/sources/manual/11635/",
                                "method": "GET",
                                "headers": {
                                    "Authorization": "@{body('Get_Secret')?['value']}"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "HTTP_1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_1')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "manual_entries": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                            "actions": {},
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_1": {
                            "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                            "actions": {
                                "Condition_1": {
                                    "actions": {
                                        "HTTP_3": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://edlmanager.com/api/v1/sources/manual/11635/",
                                                "method": "PUT",
                                                "headers": {
                                                    "Authorization": "@{body('Get_Secret')?['value']}"
                                                },
                                                "body": "@json(\r\n  concat(\r\n    '{\"action\":\"add\",\"manual_entries\":[\"',\r\n    item()?['Address'],\r\n    '\"]}'\r\n  )\r\n)"
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {}
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "contains": [
                                                        "@body('Parse_JSON')?['manual_entries']",
                                                        "@items('For_each_1')?['Address']"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "/subscriptions/41256192-8779-41f6-89fb-81f73a1a490e/providers/Microsoft.Web/locations/centralus/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_AS_IP_Blocklist_externalid')]",
                                "connectionName": "azuresentinel-AS-IP-Blocklist",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "keyvault": {
                                "id": "/subscriptions/41256192-8779-41f6-89fb-81f73a1a490e/providers/Microsoft.Web/locations/centralus/managedApis/keyvault",
                                "connectionId": "[parameters('connections_keyvault_AS_IP_Blocklist_externalid')]",
                                "connectionName": "keyvault-AS-IP-Blocklist",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}
